/*.questao { all: revert !important; }*/
.questao {
    line-height: 140% !important;
    padding-top: 15px !important;
    margin: auto !important;
    padding-right: 1em !important;
    padding-left: 1em !important;
    max-width: 80em !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    color: black !important;
    font-family: Verdana, sans-serif !important;
    font-size: 100% !important;
    line-height: 140% !important;
    color: #333 !important;
}
.questao img { max-width: 44em !important;}
.questao pre {
    border: 1px dotted gray !important;
    background-color: #ececec !important;
    color: #1111111 !important;
    padding: 0.5em !important;
    font-family: monospace !important;
}
.questao blockquote {
  color: #666666 !important;
  margin: 0 !important;
  padding-left: 3em !important;
  border-left: 0.5em #EEE solid !important;
}

.questao li{padding: revert !important; border-bottom: revert !important;}

.questao code {
    font-family: monospace !important;
    white-space: pre-wrap !important;
    line-height: 140% !important;
    font-size: 100% !important;
}
.questao h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none !important;
    color: #7a5ada !important; 
}
.questao h1, h2, h3, h4, h5 { font-family: verdana !important;
                     font-weight: bold !important;
                     border-bottom: 1px dotted black !important;
                     color: #7a5ada !important; }
.questao h1 {
        font-size: 140% !important;
}

.questao h2 {
        font-size: 120% !important;
}

.questao h3 {
        font-size: 100% !important;
}

.questao h4 {
        font-size: 90% !important;
        font-style: italic !important;
}

.questao h5 {
        font-size: 90% !important;
        font-style: italic !important;
}

.questao h1.title {
        font-size: 200% !important;
        font-weight: bold !important;
        padding-top: 0.2em !important;
        padding-bottom: 0.2em !important;
        text-align: left !important;
        border: none !important;
}

.questao dt code {
        font-weight: bold !important;
}
.questao dd p {
        margin-top: 0 !important;
}

.questao #footer {
  background: revert !important;
        padding-top: 1em !important;
        font-size: 80% !important;
        color: gray !important;
        text-align: center !important;
        }

.tle_info select {
        background-color: transparent !important;
        border: none !important;
        color: #525252 !important;
        font-size: 14px !important;
        cursor: pointer !important;
}

.tle_info label {
        display: inline-block !important;
        text-align: right !important;
        margin-right: 10px !important;
}

