.row {
    display: flex;

    margin-left: 8px;
    margin-right: -8px;
}

.row__cell {
    padding-left: 8px;
    padding-right: 8px;
}

.row__cell--1 {
    flex: 0 0 6%;
    text-align: right;
}

.row__cell--fill {
    flex: 1;
}

.row__cell--fill--btn {
    flex: 1;
    padding-left: 206px;
}
#select-clarification {
   margin-left: 5px;
}

#textarea-form {
    width: 494px;
    height: 195px;
}

#btn-form {
  width: 50px;
}

#checkbox-label {
  margin-left: -100px;
}
